<div>
  
    <p>Hi <%=user.name%>!</p>
    <br>
    <br>
    <p><b>Congratulations!</b> you have successfully registerd for an event.</p>
    <br>
    <p>Your <b>secret key</b> for the event is <b>"<%=user.key%>"</b></p>
    <br>
    <b>Thanks <%=user.name%> for Registering! </b>
</div>